@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
.btn-primary{
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #FF900E;
    padding: 20px 25px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
}

*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text-light-gray{
    color: var(--Dark-03, #727272);
    line-height: 1.2rem;
    margin-top: 24px;
    margin-bottom: 24px;
}
.section-title{
    font-size: 2.5rem;
    font-weight: 700;
    color: #131313;
}

/* header styles */
header{
    padding: 40px 200px;
    background: rgba(255, 144, 14, 0.10);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    gap: 50px;
}

nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 25px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
/* banner styles */

.banner-content{
    max-width: 640px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

.banner *{
    margin-bottom: 25px;
}
/* main sections styles */
main{
    max-width: 940px;
    margin: 50px auto;
}
/* teams styles */
.teams-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    margin: 50px;
}
.teams-container .teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
}
.teams-container .teams-img-container img{
    width: 300px;
    height: 300px;
}
.teams-title{
   color: #131313;
   font-size: 2.5rem;
}
.teams-content .quick-list{
    font-weight: 500;
}
.teams-content .features{
    color: #FF900E;
    font-weight: 700;
}
.teams-container *{
    margin-bottom: 20px;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 20px;
    text-align: center;
}
.facts-card-container .card-title{
    font-weight: 600;
    color: var(--Dark-03, #727272);
    font-size: 1.2rem;
}
.facts-card-container .card-stats{
    font-size: 2.5rem;
    color: #424242;
} 




/* responsive styles */
/* for mobiles */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav, .teams-container{
        flex-direction: column;
        gap: 10px;
    }
    .teams-container .teams-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
/* for tablets */
@media screen and (min-width: 576px) and (max-width:992px) {
    header{
        padding: 40px;
    }
    nav, .teams-container{
        flex-direction: column;
        gap: 10px;
    }
}